In [1]:
import sys
from pathlib import Path

# Force notebook to recognize project root
import os
ROOT = Path(os.getcwd()).resolve().parents[0] # one level up from tests/
if str(ROOT) not in sys.path:
    sys.path.append(str(ROOT))

import pandas as pd
from src.inference_pipeline.inference import predict

# Load a few rows of already preprocessed data
sample_path = ROOT / "data/processed/cleaning_eval.csv"
df = pd.read_csv(sample_path).sample(5, random_state=42).reset_index(drop=True)

print("Input sample:")
display(df.head())

# Run inference
preds_df = predict(df)
print("✅ Predictions returned")
display(preds_df[["predicted_price"]].head())

📂 Inference using project root: /Users/anojanyogenthiran/Projects/Regression_ML_EndtoEnd
Input sample:

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,...,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full,lat,lng
0,2021-07-31,258528.0,259900.0,145.396160,140.979244,104.0,98.0,107.0,66.0,48.0,...,182900.0,10937.0,250.0,20604.0,20604.0,10007.0,255300.562038,Cincinnati,39.0811,-84.4646
1,2021-08-31,457000.0,429000.0,253.164135,257.973734,82.0,95.0,117.0,126.0,71.0,...,0.0,0.0,0.0,0.0,0.0,0.0,450603.296700,New York-Newark-Jersey City,40.7222,-74.0225
2,2020-02-29,187250.0,202500.0,99.965760,109.198464,94.0,115.0,140.0,157.0,47.5,...,161000.0,31265.0,1746.0,52357.0,52357.0,27625.0,189474.969209,Houston-Pasadena-The Woodlands,29.8422,-95.3855
3,2020-06-30,517500.0,539900.0,217.805198,217.108051,6.0,11.0,11.0,14.0,68.0,...,531100.0,1251.0,30.0,1991.0,1991.0,1156.0,504649.454265,Baltimore-Columbia-Towson,39.3386,-76.5807
4,2021-07-31,749000.0,749400.0,349.226265,339.058053,113.0,112.0,140.0,60.0,18.0,...,591100.0,16826.0,681.0,31591.0,31591.0,14740.0,699558.033278,Riverside-San Bernardino-Ontario,34.5517,-116.1297

⚠️ Skipping lat/lng merge: already present in DataFrame.
✅ Dropped 0 duplicate rows (excluding date/year).
✅ Removed 0 rows with median_list_price > 19M.
✅ Predictions returned

   predicted_price
0     258730.87500
1     413177.75000
2     288321.34375
3     508857.03125
4     670641.31250